
.menu_custom a {
    line-height: 16px;
    color: #0a0a0a;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.top-bar-left .menu {
    background: #f1f1f1 !important;
}

.main-top {
    position: relative;
    background: #f1f1f1 !important;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    z-index: 99;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.17);
}

.button_custom {
    margin-bottom: 0;
}

.headers_section {
    margin: 0;
    font-weight: 600;
    padding: 9px 20px 9px 42px;
    color: #b6010e;
    outline: none;
    border-radius: 0;
    user-select: none;
}

.headers_local {
    border: 1px solid #e6e6e6;
    border-left: 3px solid #b6010e;
    margin: 0;
    font-weight: 600;
    padding: 9px 20px 9px 42px;
    color: #b6010e;
    outline: none;
    border-radius: 0;
    user-select: none;
}

.items:hover {
    color: #9e0c0f;
}

.items.choice {
    background: #f3dddf;
    text-decoration: none;
}

.orgs:hover {
    color: #9e0c0f;
}

.orgs.choice {
    background: #f3dddf;
    text-decoration: none;
}


/*** AUTH ***/

#login {
    position: absolute;
    left: 50%;
    top: 40%;

    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
}


#logout::before {
    position: absolute;
    display: block;
    content: '';
    width: 13px;
    height: 13px;
    top: 1px;
    left: -23px;
    background: url(../svg/ico_exit.svg);
}


/*** OVERRIDE ***/


.card-divider {
    padding: 0 !important;
}

.shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}


/*** ALERTS ***/

.messages-block {
    position: absolute;
    right: 10px;
    top: 70px;
    width: 450px;
    z-index: 999;
}
