{% extends 'kernel/task/base_task.html' %}
{% load i18n %}

{% block actions %}
    <a class="button small hollow button_custom" onclick="onView()">
        {% translate 'view_button' %}
    </a>
    <a class="button small hollow button_custom" onclick="onAdd()">
        {% translate 'add_button' %}
    </a>
    <a class="button small hollow button_custom action_button" disabled onclick="">
        {% translate 'edit_button' %}
    </a>
    <a class="button small hollow alert button_custom action_button" disabled onclick="onRemoveElement()">
        {% translate 'delete_button' %}
    </a>

    <span class="headers_section">
        {% translate 'header_section_tasks' %}
    </span>

{% endblock %}

{% block sidebar_left %}
    <b>Папки заданий</b>
    <div id="folders"></div>
{% endblock %}


{% block content %}


    <div class="card" id="add_org" style="display: none;">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'header_adding_action_organization' %}
            </span>
        </div>

        <div class="card-section">
            <form action="{% url 'dictionary:organization_create' %}" method="POST">
                {% csrf_token %}

                <div class="grid-x grid-padding-x">
                    <div class="medium-7 cell">
                        {{ add_form.name }}
                    </div>
                    <div class="medium-3 cell">
                        {{ add_form.kind }}
                    </div>
                    <div class="medium-2 cell">
                        <button class="success button small button_custom"
                                type="submit"> {% translate 'add_button' %}</button>
                        <a class="alert button small  button_custom" onclick="onClose('add_org')">Закрыть</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'query_result_header' %}
            </span>
        </div>
        <div class="card-section">
            {% for org in organization_list %}
                <div class="callout secondary small orgs" id="org_{{ org.id }}">
                    <b>{% translate 'name_tag' %}</b> {{ org.name }} &nbsp;
                    <b>{% translate 'organization_kind' %}</b> {{ org.get_kind_display }}
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}


{% block local_script %}
    <script>

        $('#folders').on("changed.jstree", function (e, data) {
            console.log(data);
            $(".action_button").attr('disabled', false).attr("id", this.id)
            $('#edit_query_input').val(data.node.text)
        });


        getFolderList($('#folders'))

        function onView() {
            $('#query_user_view').css('display', 'block')
        }

        function onChangeState(elem) {
            console.log(elem.id)
        }

        function onAdd() {
            $('#query_user_view').css('display', 'none')
            $("#add_card").css("display", "block")
        }
    </script>
{% endblock %}