{% extends 'system/base.html' %}

{% block main %}
    <div class="row">
        <div class="small-12 medium-8 large-8 columns" id="login">

            <div class="card shadow" style="width: 400px;">
                <div class="card-divider">
                    <span style="padding: 10px 0 10px 20px;"><b>Изменение пароля {{ request.user }}</b></span>
                </div>
                <div class="card-section">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row collapse">
                            <div class="small-12 medium-5 columns">
                                <label>
                                    Идентификатор учетной записи
                                    <input type="text" value="{{ request.user }}" readonly>
                                </label>
                            </div>
                            <div class="small-12 medium-5 columns">
                                <label>Текущий пароль
                                    {{ form.old_password.errors }}
                                    {{ form.old_password }}
                                </label>
                            </div>
                            <div class="small-12 medium-5 columns">
                                <label>Новый пароль
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1 }}
                                    {#                                    {% if form.new_password1.help_text %}#}
                                    {#                                        <div class="help">{{ form.new_password1.help_text|safe }}</div>#}
                                    {#                                    {% endif %}#}
                                </label>
                            </div>
                            <div class="small-12 medium-5 columns">
                                <label>Подтверждение пароля
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2 }}
                                    {#                                    {% if form.new_password2.help_text %}#}
                                    {#                                        <div class="help">{{ form.new_password2.help_text|safe }}</div>#}
                                    {#                                    {% endif %}#}
                                </label>
                            </div>
                            <div class="small-12 medium-2 small-centered medium-uncentered columns text-right">
                                <input type="submit" class="button " value="Отправить"/>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}