{% extends 'kernel/folder_task/base_folder_task.html' %}
{% load static %}
{% load i18n %}


{% block actions %}
    <a class="button small hollow button_custom" onclick="onAdd()">
        {% translate 'add_button' %}
    </a>
    <button class="button small hollow button_custom action_button" disabled onclick="onEdit(this)">
        {% translate 'edit_button' %}
    </button>
    <button class="button small hollow alert button_custom action_button" disabled data-open="delete-window"
            onclick="onDelete(this)">
        {% translate 'delete_button' %}
    </button>

    <span class="headers_section">
        {% translate 'header_section_folder_task' %}
    </span>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'query_result_header' %}
            </span>
        </div>
        <div class="card-section">
            <div id="folders"></div>
        </div>
    </div>

{% endblock %}

{% block form_block %}
    <div class="card query-tag" id="query_folder_add" style="display: none">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'query_folder_add' %}
            </span>
        </div>
        <div class="card-section">
            <form action="{% url 'kernel:folder_task_create' %}" method="POST">
                {% csrf_token %}
                <label>{% translate 'name_tag' %}
                    <input type="text" name="name" placeholder="{% translate 'name_tag' %}" required/>
                </label>
                <label>{% translate 'paren_tag' %}
                    <select name="parent">
                        <option id="form_add_parent"></option>
                    </select>
                </label>
                <button type="submit" class="button small hollow button_custom">
                    {% translate 'button_send' %}
                </button>
                <span type="submit" class="button small hollow alert button_custom" onclick="onClose()">
                    {% translate 'button_cancel' %}
                </span>
            </form>
        </div>
    </div>

    <div class="card query-tag" id="query_folder_edit" style="display: none">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'query_folder_edit' %}
            </span>
        </div>
        <div class="card-section">
            <form method="POST">
                {% csrf_token %}
                <label>{% translate 'name_tag' %}
                    <input type="text" name="name" id="edit_query_input_name" placeholder="{% translate 'name_tag' %}"
                           required/>
                </label>
                <label>{% translate 'paren_tag' %}
                    <select name="parent">
                        <option id="form_add_parent_edit"></option>
                    </select>
                </label>
                <button type="submit" class="button small hollow button_custom">
                    {% translate 'button_send' %}
                </button>
                <span type="submit" class="button small hollow alert button_custom" onclick="onClose()">
                    {% translate 'button_cancel' %}
                </span>
            </form>
        </div>
    </div>

    <div class="reveal" id="delete-window" data-reveal data-close-on-click="true" data-animation-in="spin-in"
         data-animation-out="spin-out">
        <h4 class="text-center">Удаление "Папки задания"</h4>
        <p class="text-center alert">
            Вы точно уверены что надо удалить "Папку задания" за номером: <span id="com-obj"></span>
        </p>
        <form method="POST" id="com-obj-delete-form">
            {% csrf_token %}
            <div class="text-center">
                <button class="button alert">УДАЛИТЬ!</button>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}

{% block local_script %}

    <script>

        $('#folders').on("changed.jstree", function (e, data) {
            console.log(data);
            $(".action_button").attr('disabled', false).attr("id", this.id);
            $('#edit_query_input').val(data.node.text);

            $('#com-obj').text(data.node.id)
            $("#com-obj-delete-form").attr('action', '/folder_task/delete/' + data.node.id + '/')

            let parent_option = $('#form_add_parent');
            parent_option.val(data.node.id);
            parent_option.text(data.node.text);

            let name_input_edit = $('#edit_query_input_name');
            name_input_edit.text(data.node.text);


            /*if (data.instance.get_parent(data.node) !== "#") {
                let parent_option_edit = $('#form_add_parent_edit');
                parent_option_edit.val(data.node.parent);
                parent_option_edit.text(data.instance.get_parent(data.node));
            }*/
        });

        getFolderList($('#folders'))

        function onAdd() {
            $('#query_folder_edit').css('display', 'none');
            $('#query_folder_add').css('display', 'block');
        }

        function onEdit(elem) {
            if ($(elem).attr('disabled') !== 'disabled') {
                $('#query_folder_add').css('display', 'none');
                $('#query_folder_edit').css('display', 'block');
            }
        }

        function onDelete(obj) {
            if ($(obj).is('[disabled]') === true) {
                obj.preventDefault()
            }
        }

        function onClose() {
            $('.query-tag').css('display', 'none')
        }

    </script>
{% endblock %}