{% extends 'kernel/person_identifier/base_person_identifier.html' %}
{% load i18n %}

{% block actions %}
    <a class="button small hollow button_custom" onclick="onAdd()">
        {% translate 'add_button' %}
    </a>
    <button class="button small hollow button_custom action_button" disabled onclick="onEdit(this)">
        {% translate 'edit_button' %}
    </button>
    <button class="button small hollow alert button_custom action_button" disabled data-open="delete-window"
            onclick="onDelete(this)">
        {% translate 'delete_button' %}
    </button>

    <span class="headers_section">
        {% translate 'header_section_person_id' %}
    </span>
{% endblock %}



{% block content %}
    <div class="card">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'header_list_person_id' %}
            </span>
        </div>
        <div class="card-section">
            <table class="unstriped">
                <thead>
                <tr>
                    <th>{% translate 'person_id_table_kind' %}</th>
                    <th>{% translate 'person_id_table_id' %}</th>
                    <th>{% translate 'person_id_table_state' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in person_identifiers %}
                    <tr class="items" id="{{ obj.id }}">
                        <td>
                            {{ obj.name }}
                        </td>
                        <td>
                            {{ obj.get_kind_display }}
                        </td>
                        <td>
                            {% if obj.state %}
                                <span class="badge success">&nbsp;</span>
                            {% else %}
                                <span class="badge alert">&nbsp;</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}

{% block form_block %}
    <div class="card query-tag" id="query_add_person_id" style="display: none;">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'header_add_person_id' %}
            </span>
        </div>
        <div class="card-section">
            <form method="POST" action="{% url 'kernel:person_identifiers_create' %}">
                {% csrf_token %}
                {{ form_obj.as_p }}
                <button type="submit" class="button small hollow button_custom">
                    {% translate 'button_send' %}
                </button>
                <span type="submit" class="button small hollow alert button_custom" onclick="onClose()">
                    {% translate 'button_cancel' %}
                </span>
            </form>
        </div>
    </div>

    <div class="card query-tag" id="query_edit_person_id" style="display: none;">
        <div class="card-divider">
            <span class="headers_local">
                {% translate 'header_edit_person_id' %}
            </span>
        </div>
        <div class="card-section">
            <form class="edit_form" id="query_edit_person_id_form" method="post">
                {% csrf_token %}
                {{ form_obj.as_p }}
                <button type="submit" class="button small hollow button_custom">
                    {% translate 'button_send' %}
                </button>
                <span type="submit" class="button small hollow alert button_custom" onclick="onClose()">
                    {% translate 'button_cancel' %}
                </span>
            </form>
        </div>
    </div>

    <div class="reveal" id="delete-window" data-reveal data-close-on-click="true" data-animation-in="spin-in"
         data-animation-out="spin-out">
        <h4 class="text-center">Удаление "идентификатор абонента"</h4>
        <p class="text-center alert">
            Вы точно уверены что надо удалить "идентификатор абонента" за номером: <span id="com-obj"></span>
        </p>
        <form method="POST" id="com-obj-delete-form">
            {% csrf_token %}
            <div class="text-center">
                <button class="button alert">УДАЛИТЬ!</button>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}


{% block local_script %}
    <script>
        function onEdit(elem) {
            getPersonId(elem.id, function (data) {
                onClose();
                $('#query_edit_person_id').css('display', 'block')
                $('#query_edit_person_id_form').attr('action', '/person_identifiers/edit/' + elem.id + '/')

                $('.edit_form #id_name').val(data.name);
                $('.edit_form #id_kind').val(data.kind);
                $('.edit_form #id_state').attr('checked', data.state);
            })
        }

        function onAdd() {
            onClose();
            $("#query_add_person_id").css("display", "block")
        }

        $('.items').click(function () {
            if ($(this).hasClass("choice")) {
                $(this).removeClass("choice")
                $(".action_button").attr('disabled', true).attr("id", null)
            } else {
                $(".items").removeClass("choice")
                $(this).addClass("choice")
                $(".action_button").attr('disabled', false).attr("id", this.id)

                $("#com-obj").text(this.id)
                $("#com-obj-delete-form").attr('action', '/communication_objects/delete/' + this.id + '/')
            }
        });

        function onClose() {
            $('.query-tag').css('display', 'none')
        }

        function onDelete(obj) {
            if ($(obj).is('[disabled]') === true) {
                obj.preventDefault()
            }
        }
    </script>
{% endblock %}