{% extends 'userapp/base_userapp.html' %}
{% load i18n %}


{% block actions %}
    <a class="button small clear button_custom" onclick="onView()" disabled>
        {% translate 'view_button' %}
    </a>
    <a class="button small button_custom" onclick="onAdd()">
        {% translate 'add_button' %}
    </a>
    <a class="button small clear button_custom action_button" disabled onclick="">
        {% translate 'edit_button' %}
    </a>
    <a class="button small clear alert button_custom action_button" disabled onclick="onRemoveElement()">
        {% translate 'delete_button' %}
    </a>

    <span class="headers_section">
        {% translate 'header_section_accounts' %}
    </span>

{% endblock %}



{% block content_list %}
    <div class="card">
        <div class="card-divider ">
            <span class="headers_local">
                {% translate 'header_list_accounts' %}
            </span>
        </div>
        <div class="card-section">
            <table class="unstriped hover">
                <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Роль</th>
                    <th>Орган</th>
                    <th>Папка заданий</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.identifier }}</td>
                        <td>{{ account.get_role_display }}</td>
                        <td>{{ account.organization.name }}</td>
                        <td>{{ account.folder.name }}</td>
                        <td>
                            <div class="switch rounded small">
                                <input class="switch-input" id="state_{{ account.id }}" type="checkbox"
                                       name="state_{{ account.id }}" {% if account.is_active %}checked{% endif %}>
                                <label class="switch-paddle" for="state_{{ account.id }}">
                                    <span class="switch-active" aria-hidden="true">Yes</span>
                                    <span class="switch-inactive" aria-hidden="true">No</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <br>

        </div>
    </div>
{% endblock %}

{% block content_view %}
    <div class="card" id="add_card" style="display: none">
        <div class="card-divider ">
            <span class="headers_local">
                {% translate 'header_add_accounts' %}
            </span>
        </div>

        <div class="card-section">
            <form method="POST" action="{% url 'userapp:add_user' %}">
                {% csrf_token %}
                <div class="row">
                {{ add_form }}
                </div>
                <button type="submit" class="button small">Отправить</button>
            </form>

        </div>
    </div>
{% endblock %}


{% block local_script %}
    <script>
        function onChangeState(elem) {
            console.log(elem.id)
        }

        function onAdd() {
            $("#add_card").css("display", "block")
        }
    </script>
{% endblock %}